<div class="modal fade" id="editPerson" tabindex="-1" aria-labelledby="editPerson" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" id="editPersonsform">


          <div class="form-group">
            <label>Numero Documento</label>
            <input
              type="number"
              class="form-control"
              formControlName="nit"
              placeholder="Ingresar el numero de documento"
            />
          </div>

          <div class="form-group">
            <label>Nombres</label>
            <input
              type="text"
              class="form-control"
              formControlName="nombre"
              placeholder="Ingresar nombre"
            />
          </div>

          <div class="form-group">
            <label>Apellidos</label>
            <input
              type="text"
              class="form-control"
              formControlName="apellido"
              placeholder="Ingresar apellidos"
            />
          </div>

          <div class="form-group">
            <label>Telefono</label>
            <input
              type="number"
              class="form-control"
              formControlName="telefono"
              placeholder="Ingresar el numero de Celular"
            />
          </div>

          <div class="form-group">
            <label>Dirección</label>
            <input
              type="text"
              class="form-control"
              formControlName="direccion"
              placeholder="Ingresar la Direccion"
            />
          </div>

          <div class="form-group">
            <label>Tipo_persona</label>
            <select
              class="form-control"
              placeholder="Seleccione el tipo de persona"
              formControlName="tipo_persona"
            >
              <option value="1">Usuario SIT</option>
              <option value="2">Conductor</option>

            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="form.reset()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onEditPerson()" data-dismiss="modal"
                [disabled]="!form.valid">Guardar
        </button>
      </div>
    </div>
  </div>
</div>
