<!-- As a link -->
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/home">TransAndina</a>
</nav>
<div class="container" id="containerVehicles">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12" id="titleForm">
      <h1 class="text-reset">Vehiculos</h1>
      <p>Diligencia el formulario para agregar un nuevo vehiculo.</p>
    </div>
    <div class="col col-lg-12">
      <form [formGroup]="form" id="registerVehiclesform">
        <div class="form-group">
          <label for="tipoSelect">Tipo</label>
          <select
            class="form-control"
            id="tipo"
            placeholder="Seleccione tipo del vehículo"
            formControlName="Tipo"
          >
            <option>Clase I</option>
            <option>Clase II</option>
            <option>Clase III</option>
          </select>
        </div>
        <div class="form-group">
          <label for="marca">Marca</label>
          <select
            class="form-control"
            id="marca"
            placeholder="Seleccione la marca del vehículo"
            formControlName="Marca"
          >
            <option value="Audi">Audi</option>
            <option value="BYD">BYD</option>
            <option value="Changan">Changan</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Ford">Ford</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Great Wall">Great Wall</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Jeep">Jeep</option>
            <option value="Kia">Kia</option>
            <option value="Maserati">Maserati</option>
            <option value="Nissan">Nissan</option>
            <option value="Peugeot">Peugeot</option>
            <option value="Renault">Renault</option>
            <option value="Suzuki">Suzuki</option>
            <option value="Toyota">Toyota</option>
            <option value="Volvo">Volvo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="modelo">Modelo</label>
          <input
            type="text"
            class="form-control"
            id="modelo"
            placeholder="Ingresar modelo del vehiculo"
            formControlName="Modelo"
          />
        </div>
        <div class="form-group">
          <label for="placa">Placa</label>
          <input
            type="text"
            class="form-control"
            id="placa"
            placeholder="Ingresar placa del vehiculo"
            formControlName="Placa"
          />
        </div>
        <div class="form-row">
          <div class="col-12">
            <button
              (click)="Submit()"
              [disabled]="!form.valid"
              type="submit"
              class="btn btn-info btn-block mb-3 button-submit"
            >
              Agregar vehículo
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
