<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/home">TransAndina</a>
</nav>
<div class="container" id="containerRoutes">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12" id="titleForm">
      <h1 class="text-reset">Vehiculos</h1>
      <p>Diligencia el formulario para agregar un nuevo vehiculo.</p>
    </div>
  </div>
  <div class="col col-lg-12">
      <div class="list-group">
        <button
          type="button"
          class="btn btn-info"
          title="Agregar ruta"
          data-toggle="modal"
          data-target="#createRoute"
        >
          Agregar ruta
        </button>
        <br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha/Hora</th>
              <th scope="col">Estado</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of routes; let i = index"
              (click)="routeSelected(item)"
            >
              <td>{{ item?.nombre }}</td>
              <td>{{ item?.fecha }} / {{ item.hora }}</td>
              <ng-container *ngIf="item.estado == 1">
                <td>Activo</td>
              </ng-container>
              <ng-container *ngIf="item.estado == 0">
                <td>Inactivo</td>
              </ng-container>
              <td>{{ item?.precio }}</td>
              <td>
                <button
                  *ngIf="item.estado == 1"
                  type="button"
                  class="btn btn-primary"
                  (click)="onShowEditRoute(item)"
                  data-toggle="modal"
                  data-target="#editRoute"
                  title="Editar ruta"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  *ngIf="item.estado == 1"
                  type="button"
                  style="margin-left: 10px"
                  class="btn btn-danger"
                  (click)="onDeleteRoute(i)"
                  title="Borrar"
                >
                  <i class="fas fa-trash"></i>
                </button>
                <button
                  *ngIf="item.estado == 0"
                  type="button"
                  class="btn btn-outline-success"
                  (click)="onActivateRoute(i)"
                  title="Desactivar ruta"
                >
                  <i class="fas fa-arrow-up"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6" style="text-align: center">
      <div
        class="list-group"
        *ngIf="routeSelectedId && routeSelectedId.estado == 1"
      >
        <button
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#createStop"
          title="Agregar parada"
        >
          Agregar parada
        </button>
        <table class="table">
          <thead>
            <tr>
              <th colspan="3" scope="col">
                Paradas de la ruta {{ routeSelectedId.nombre }}
              </th>
            </tr>
            <tr>
              <th scope="col">Orden</th>
              <th scope="col">parada</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of routeSelectedId.paradas; let i = index">
              <th>{{ i + 1 }}</th>
              <td>{{ item?.nombre }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onShowEditStop(item)"
                  data-toggle="modal"
                  title="Editar"
                  data-target="#editStop"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <!--              <button type="button" style="margin-left: 10px" class="btn btn-secondary bi bi-arrow-up-short" title="Subir puesto"-->
                <!--                      *ngIf="i !== 0"><i class="fas fa-arrow-up"></i>-->
                <!--              </button>-->
                <!--              <button type="button" style="margin-left: 10px" class="btn btn-success" *ngIf="i !== (paradas.length -1)"  title="Bajar puesto">-->
                <!--                <i class="fas fa-arrow-down"></i>-->
                <!--              </button>-->
                <button
                  type="button"
                  style="margin-left: 10px"
                  class="btn btn-danger"
                  (click)="onDeleteStop(item.id)"
                  title="Borrar"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<!--<pre>{{routes | json}}</pre>-->
<app-spinner [show]="showLoader"></app-spinner>
<app-create-route-dialog
  #createRouteDialog
  (createRoute)="onCreateRoute($event)"
>
</app-create-route-dialog>
<app-edit-route-dialog #editRouteDialog (editeRoute)="onEditRoute($event)">
</app-edit-route-dialog>
<app-create-stop-dialog
  #createStopDialog
  (createStop)="onCreateStop($event, routeSelectedId)"
>
</app-create-stop-dialog>
<app-edit-stop-dialog #editStopDialog (editeStop)="onEditStop($event)">
</app-edit-stop-dialog>
