<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/home">TransAndina</a>
</nav>

<div class="container-fluid">
  <div class="row vh-100 col-12">
    <div
      class="col-md-5 text-center py-5 d-flex flex-column justify-content-center auth-bg-section"
      style="text-align: center"
    >
      <div style="margin: 0 auto">
        <div class="column">
          <div class="gallery" routerLinkActive="active">
            <a [routerLink]="['/home']">
              <img
                src="assets/imgs/usuario.png"
                alt="Cinque Terre"
                width="600"
                height="400"
              />
            </a>
            <div class="desc">Usuarios</div>
          </div>

          <div class="gallery" routerLinkActive="active">
            <a [routerLink]="['/vehicle/list-vehicle']">
              <img
                src="assets/imgs/autobus.png"
                alt="Forest"
                width="600"
                height="400"
              />
            </a>
            <div class="desc">Vehículos</div>
          </div>

          <div class="gallery" routerLinkActive="active">
            <a [routerLink]="['/conductores']">
              <img
                src="assets/imgs/conductor.png"
                alt="Northern Lights"
                width="600"
                height="400"
              />
            </a>
            <div class="desc">Conductores</div>
          </div>
        </div>

        <div class="column">
          <div class="gallery" routerLinkActive="active">
            <a [routerLink]="['/route/list-route']">
              <img
                src="assets/imgs/camino-adelante-perspectiva-recta.png"
                alt="Mountains"
                width="600"
                height="400"
              />
            </a>
            <div class="desc">Administración de rutas</div>
          </div>

          <div class="gallery" routerLinkActive="active">
            <a [routerLink]="['/programming/list-programming']">
              <img
                src="assets/imgs/calendario.png"
                alt="Mountains"
                width="600"
                height="400"
              />
            </a>
            <div class="desc">Rutas</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="#">
              <img
                src="assets/imgs/boleto.png"
                alt="Mountains"
                width="600"
                height="400"
              />
            </a>
            <div class="desc">Gestión de Tickets</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-7 text-center justify-content-center auth-bg-section margin-left: -20px;"
      style="margin-left: -30px">
      <div style="margin: 18% auto">
        <h1 class="text-reset">Administración de rutas</h1>
        <p>Diligencia el formulario para agregar una nueva ruta.</p>

        <div class="col col-lg-12">
          <div class="list-group">
            <button
              type="button"
              class="btn btn-info"
              title="Agregar ruta"
              data-toggle="modal"
              data-target="#createRoute">
              Agregar ruta
            </button>
            <br/>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha/Hora</th>
                <th scope="col">Estado</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of routestest; let i = index"
                (click)="routeSelected(item)">
                <td>{{ item?.nombre }}</td>
                <td>{{ item?.fecha }} / {{ item.hora }}</td>
                <ng-container *ngIf="item.estado == 1">
                  <td>Activo</td>
                </ng-container>
                <ng-container *ngIf="item.estado == 0">
                  <td>Inactivo</td>
                </ng-container>
                <td>{{ item?.precio }}</td>
                <td>
                  <button *ngIf="item.estado == 1"
                    type="button"
                    class="btn btn-outline-info"
                    (click)="onShowAddProgramming(item.id_conductor, item.id_vehiculo)"
                    data-toggle="modal"
                    data-target="#addProgramming"
                    title="Programar ruta">
                    <i class="fas fa-user-clock"></i>
                  </button>
                </td>
                <td>
                  <button
                    *ngIf="item.estado == 1"
                    type="button"
                    class="btn btn-primary"
                    (click)="onShowEditRoute(item)"
                    data-toggle="modal"
                    data-target="#editRoute"
                    title="Editar ruta"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    *ngIf="item.estado == 1"
                    type="button"
                    style="margin-left: 10px"
                    class="btn btn-danger"
                    (click)="deleteruta(item.id)"
                    title="Borrar"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                  <button
                    *ngIf="item.estado == 0"
                    type="button"
                    class="btn btn-outline-success"
                    (click)="activarRuta(item.id)"
                    title="Desactivar ruta">
                    <i class="fas fa-arrow-up"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6" style="text-align: center">
          <div
            class="list-group"
            *ngIf="routeSelectedId && routeSelectedId.estado == 1">
            <button
              type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#createStop"
              title="Agregar parada">
              Agregar parada
            </button>
            <table class="table">
              <thead>
              <tr>
                <th colspan="3" scope="col">
                  Paradas de la ruta {{ routeSelectedId.nombre }}
                </th>
              </tr>
              <tr>
                <th scope="col">Orden</th>
                <th scope="col">parada</th>
                <th scope="col">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of routeSelectedId.paradas; let i = index">
                <th>{{ i + 1 }}</th>
                <td>{{ item?.nombre }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onShowEditStop(item)"
                    data-toggle="modal"
                    title="Editar"
                    data-target="#editStop">
                    <i class="fas fa-edit"></i>
                  </button>

                  <button
                    type="button"
                    style="margin-left: 10px"
                    class="btn btn-danger"
                    (click)="onDeleteStop(item.id)"
                    title="Borrar"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<pre>{{routes | json}}</pre>-->
  <app-spinner [show]="showLoader"></app-spinner>
  <app-create-route-dialog
    #createRouteDialog
    (createRoute)="onCreateRoute($event)">
  </app-create-route-dialog>
  <app-edit-route-dialog #editRouteDialog (editeRoute)="onEditRoute($event)">
  </app-edit-route-dialog>

  <app-add-programming-dialog
    #addProgrammingDialog
    [conductores]="conductores"
    [drivers]="drivers"
    [vehicles]="vehicles"
    [vehiculos]="vehiculos"
    (createPogramingRoute)="onAddProgramming($event)">
  </app-add-programming-dialog>

  <app-create-stop-dialog
    #createStopDialog
    (createStop)="onCreateStop($event, routeSelectedId)">
  </app-create-stop-dialog>
  <app-edit-stop-dialog #editStopDialog (editeStop)="onEditStop($event)">
  </app-edit-stop-dialog>
</div>
