<!-- As a link -->
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/home">TransAndina</a>
</nav>
<div class="container" id="containerVehicles">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12" id="titleForm">
      <h1 class="text-reset">Programación de rutas</h1>
      <p>Diligencia el formulario para agregar un nueva Programación</p>
    </div>
    <div class="col col-lg-12">
      <form [formGroup]="form" id="registerVehiclesform">
        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            placeholder="Ingresar modelo del vehiculo"
            formControlName="fecha"
          />
        </div>
        <div class="form-group">
          <label for="valor">Valor</label>
          <input
            type="number"
            class="form-control"
            id="valor"
            placeholder="Ingresar el valor del viaje"
            formControlName="valor"
          />
        </div>
        <div class="form-row">
          <div class="col-12">
            <button
              (click)="Submit()"
              [disabled]="!form.valid"
              type="submit"
              class="btn btn-info btn-block mb-3 button-submit"
            >
              Agregar vehículo
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
