<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="container-fluid">
      <div class="row vh-100 col-12">
        <div
          class="col-md-6 text-center justify-content-center auth-bg-section margin-left: -20px;"
          style="margin-left: -30px"
        >
          <img
            src="assets/imgs/img-login.jpg"
            alt=""
            style="width: 100%; height: 100%"
          />
        </div>

        <div
          class="col-md-6 text-center py-5 d-flex flex-column justify-content-center auth-bg-section"
          style="text-align: center"
        >
          <h1>TransAndina App Ver. 1.0</h1>
          <br />
          <p>
            Bienvenido al Sistema de Administración Interna de TransAndina
            Colombia
          </p>
          <br />

          <div style="margin: 0 auto;">
            <div class="column">
              <div class="gallery">
                <a href="">
                  <img
                    src="assets/imgs/usuario.png"
                    alt="Cinque Terre"
                    width="600"
                    height="400"
                  />
                </a>
                <div class="desc">Usuarios</div>
              </div>

              <div class="gallery">
                <a href="/vehicle/list-vehicle">
                  <img
                    src="assets/imgs/autobus.png"
                    alt="Forest"
                    width="600"
                    height="400"
                  />
                </a>
                <div class="desc">Vehículos</div>
              </div>

              <div class="gallery">
                <a href="drivers/list-drivers">
                  <img
                    src="assets/imgs/conductor.png"
                    alt="Northern Lights"
                    width="600"
                    height="400"
                  />
                </a>
                <div class="desc">Conductores</div>
              </div>
            </div>

            <div class="column">
              <div class="gallery">
                <a href="route/list-route">
                  <img
                    src="assets/imgs/camino-adelante-perspectiva-recta.png"
                    alt="Mountains"
                    width="600"
                    height="400"
                  />
                </a>
                <div class="desc">Rutas</div>
              </div>

              <div class="gallery">
                <a href="programming/list-programming">
                  <img
                    src="assets/imgs/calendario.png"
                    alt="Mountains"
                    width="600"
                    height="400"
                  />
                </a>
                <div class="desc">Programación de Rutas</div>
              </div>

              <div class="gallery">
                <a href="#">
                  <img
                    src="assets/imgs/boleto.png"
                    alt="Mountains"
                    width="600"
                    height="400"
                  />
                </a>
                <div class="desc">Gestión de Tickets</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
