<div class="modal fade" id="createVehicle" tabindex="-1" aria-labelledby="createVehicle"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear nuevo vehiculo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" id="registerVehiclesform">
          <div class="form-group">
            <label for="tipoSelect">Tipo</label>
            <select
              class="form-control"
              placeholder="Seleccione tipo del vehículo"
              formControlName="tipo"
            >
              <option value="Bus">Bus</option>
              <option value="MiniBús">MiniBús</option>
            </select>
          </div>
          <div class="form-group">
            <label for="marca">Marca</label>
            <select
              class="form-control"
              formControlName="marca"
              placeholder="Seleccione la marca del vehículo"
            >
              <option value="Audi">Audi</option>
              <option value="BYD">BYD</option>
              <option value="Changan">Changan</option>
              <option value="Chevrolet">Chevrolet</option>
              <option value="Ford">Ford</option>
              <option value="Ferrari">Ferrari</option>
              <option value="Great Wall">Great Wall</option>
              <option value="Hyundai">Hyundai</option>
              <option value="Jeep">Jeep</option>
              <option value="Kia">Kia</option>
              <option value="Maserati">Maserati</option>
              <option value="Nissan">Nissan</option>
              <option value="Peugeot">Peugeot</option>
              <option value="Renault">Renault</option>
              <option value="Suzuki">Suzuki</option>
              <option value="Toyota">Toyota</option>
              <option value="Volvo">Volvo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <input
              type="text"
              class="form-control"
              formControlName="modelo"
              placeholder="Ingresar modelo del vehiculo"
            />
          </div>
          <div class="form-group">
            <label for="placa">Placa</label>
            <input
              type="text"
              class="form-control"
              formControlName="placa"
              placeholder="Ingresar placa del vehiculo"
            />
          </div>
          <div class="form-group">
            <label for="capacidad">Capacidad</label>
            <input
              type="number"
              class="form-control"
              formControlName="capacidad"
              placeholder="Ingresar capacidad del vehiculo"
            />
          </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="form.reset()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onCreateVehicle()" data-dismiss="modal" [disabled]="!form.valid">Guardar</button>
      </div>
    </div>
  </div>
</div>
