<!-- As a link -->
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/home">TransAndina</a>
</nav>
<div class="container" id="containerDrivers">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12" id="titleForm">
      <h1 class="text-reset">Conductores</h1>
      <p>Diligencia el formulario para agregar un nuevo conductor.</p>
    </div>
    
    <div class="col col-lg-12">

      <form [formGroup]="form" id="registerDriversform">

        <div class="form-group">
          <label for="Tipo_Doc">Tipo Documento</label>
          <select
            class="form-control"
            id="tipo"
            placeholder="Seleccione el tipo de Documento"
            formControlName="Tipo_Doc"
          >
            <option>CC</option>
            <option>CE</option>
            <option>TI</option>
            <option>PEP</option>
            <option>Pasaporte</option>
          </select>
        </div>

        <div class="form-group">
          <label for="Documento">Documento</label>
      
          <input
            type="text"
            class="form-control"
            id="documento"
            placeholder="Ingresar numero de Documento"
            formControlName="Documento"
          />
        </div>

        
        <div class="form-group">
          <label for="Nombre_Cond">Nombres</label>
      
          <input
            type="text"
            class="form-control"
            id="nombre_cond"
            placeholder="Ingresar los Nombres"
            formControlName="Nombre_Cond"
          />
        </div>

        <div class="form-group">
          <label for="Apellido_Cond">Apellidos</label>
      
          <input
            type="text"
            class="form-control"
            id="apellido_cond"
            placeholder="Ingresar los Apellidos"
            formControlName="Apellido_Cond"
          />
        </div>

        <div class="form-group">
          <label for="Celular_Cond">Número Celular</label>
      
          <input
            type="text"
            class="form-control"
            id="celular_cond"
            placeholder="Ingresar el Numero de Celular"
            formControlName="Celular_Cond"
          />
        </div>

        
        <div class="form-row">
          <div class="col-12">
            <button
              (click)="Submit()"
              [disabled]="!form.valid"
              type="submit"
              class="btn btn-info btn-block mb-3 button-submit"
            >
              Crear Conductor
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
